.server-item {
  border-top: solid 2px #322A48;
  border-left: solid 2px #322A48;
  -webkit-box-shadow: 5px 5px 5px -2px rgba(36,6,9,1);
  -moz-box-shadow: 5px 5px 5px -2px rgba(36,6,9,1);
  box-shadow: 5px 5px 5px -2px rgba(36,6,9,1);
  padding: 4px;
  margin-bottom: 8px;
}

.arrow-reversed {
  transform: rotate(180deg);
}

li {
  list-style: none;
}
