.button-style {
    padding: 4px;
}

.button-label-text {
    color: #FFFFFF;
    font-family: rtb;
    text-transform: uppercase;
    font-size: 32px;
}

@media only screen and (max-width: 375px) {
    .button-label-text {
        font-size: 24px;
    }
}
