body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #181426;
}

@font-face {
  font-family: 'rtb';
  src: url(/fonts/rtb/RTB_font.ttf) format('truetype');
}
